$color-site: #E3B873;
$with-site: 1440px;
$heading-font: 'Yeseva On';
$base-font: 'Nunito Sans', sans-serif;
$color2: #FFFFFF;
$color3: #131313;
$color-text-dark: #181818;
$color-text-lighter: #363636;
$color-text-the-lightest: #959595;
